html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/*CALCULATOR*/
#calculator-form {
    border: 2px solid  gray;
    border-radius: 5px;
    width: 40%;
    height: 70%;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    'screen screen screen screen'
    'seven eight nine plus';
    grid-gap: 1%;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ops {
    border: 1px solid red;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 3rem;
}

#screen {
    grid-area: screen;
    margin: 2%;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
}