html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/*CALCULATOR*/
#calculator-form {
  background-color: teal;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1%;
  width: 30%;
  height: 80%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "screen screen screen screen"
    "delete correct percent divide";
  grid-gap: 2%;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.8fr 1fr 1fr 1fr 1fr 1fr;
}

.ops {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 3rem;
  height: auto;
  color: rgb(247, 103, 0);
  background-color: rgb(255, 255, 255);
}

.nums {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 3rem;
  height: auto;
  background-color: white;
}

/*SCREEN*/
#screen {
  grid-area: screen;
  height: 100%;
  background: white;
  border-radius: 4px;
  border: 2px solid gray;
  font-size: 5rem;
  text-align: right;
  overflow: hidden;
  padding: 2%;
}

.multiply {
  font-size: 2rem;
}

.equal {
  background-color: rgb(247, 103, 0);
  color: white;
}
